In [1]:
import random 
import pandas as pd
import hopsworks

In [2]:
BACKFILL = False # if True then we intend to Backfill with a .csv file

### Generating Synthetic data:

In [3]:
def generate_bank_note(variance_max, variance_min, skewness_max, skewness_min,
                      curtosis_max, curtosis_min, entropy_max, entropy_min, class_):
    
    """
    Returns a single bank note with specs within the ranges specified
    """
    df = pd.DataFrame({
        'variance' : [random.uniform(variance_max, variance_min)],
        'skewness' : [random.uniform(skewness_max, skewness_min)],
        'curtosis' : [random.uniform(curtosis_max, curtosis_min)],
        'entropy' : [random.uniform(entropy_max, entropy_min)],
        'output' : [class_]
    })
    
    
    return df

def get_random_bank_note():
    
    """
    Returns a DataFrame containing one random bank note
    """
    class_1 = generate_bank_note(6,-7,12,-13,17,-5,2,-8,1)
    class_0 = generate_bank_note(5.5,-5.5,10,-10.5,15.5,-4.5,2.3,-7.35,0)
    
    random_num = random.uniform(0,2)
    if random_num >= 1:
        df = class_1
    else:
        df = class_0
        
    return df

In [4]:
if BACKFILL == True:
    df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00267/data_banknote_authentication.txt',header=None,
                names = ['variance', 'skewness', 'curtosis', 'entropy', 'output'])
else:
    df = get_random_bank_note()

In [5]:
df

      variance  skewness  curtosis  entropy  output
0      3.62160   8.66610   -2.8073 -0.44699       0
1      4.54590   8.16740   -2.4586 -1.46210       0
2      3.86600  -2.63830    1.9242  0.10645       0
3      3.45660   9.52280   -4.0112 -3.59440       0
4      0.32924  -4.45520    4.5718 -0.98880       0
...        ...       ...       ...      ...     ...
1367   0.40614   1.34920   -1.4501 -0.55949       1
1368  -1.38870  -4.87730    6.4774  0.34179       1
1369  -3.75030 -13.45860   17.5932 -2.77710       1
1370  -3.56370  -8.38270   12.3930 -1.28230       1
1371  -2.54190  -0.65804    2.6842  1.19520       1

[1372 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   output    1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [7]:
df.columns

Index(['variance', 'skewness', 'curtosis', 'entropy', 'output'], dtype='object')

### Hopsworks Auth using API key:

In [8]:
proj = hopsworks.login()
fs = proj.get_feature_store()

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/39062
Connected. Call `.close()` to terminate connection gracefully.

### Create and Write to a feature group - PK

In [9]:
bank_note_df = fs.get_or_create_feature_group(name = 'bank_notes_dataframe',
                                             version = 1,
                                             primary_key = ['variance', 'skewness', 'curtosis', 'entropy'],
                                             description = 'Authenticating Bank Note dataset', )
feature_cols = ['variance', 'skewness', 'curtosis', 'entropy', 'output']
bank_note_df.insert(df[feature_cols])

Feature Group created successfully, explore it at
https://c.app.hopsworks.ai:443/p/39062/fs/38982/fg/41970

Uploading Dataframe: 0.00% |          | Rows 0/1372 | Elapsed Time: 00:00 | Remaining Time: ?

Launching offline feature group backfill job...
Backfill Job started successfully, you can follow the progress at
https://c.app.hopsworks.ai/p/39062/jobs/named/bank_notes_dataframe_1_offline_fg_backfill/executions

(<hsfs.core.job.Job at 0x27c244f0220>, None)